@using JukeBox
@{
    var user = ViewData["user"];
    var songs = ViewData["Songs"] as List<Songs>;
    var AllSongs = ViewData["AllSongs"] as List<Songs>;
    var Playlists = ViewData["Playlists"] as List<Playlist>;
    var PlaylistName = ViewData["PlaylistName"];
    var PlaylistId = ViewData["PlaylistId"];
    var PlaylistDuration = ViewData["PlaylistDuration"];
    
}

<script>
    function DeleteSong(songId) {
        console.log("test");
        window.location.href = `/Home/PlayList?SongId=${songId}&DeleteSong=${true}&PlaylistId=${@PlaylistId}`;
    }

</script>

<script>
    function CreatePlaylist() {
        window.location.href = `/Home/Playlist?CreateNewPlaylist=${true}`;
    }
</script>

<script>
    function RenamePlaylist() {
        window.location.href = `/Home/PlaylistRename`;
    }
</script>

<form>
        <select name="PlaylistId">
            <option value="">@PlaylistName</option>
            @foreach(var playlist in Playlists)
            {
                <option value="@playlist.Id">@playlist.Name</option>
            }

        </select>
        <input type="submit" value="Search"/>

</form>

<form method="post" action="/Home/PlayList">
    <div class="AddSongsDropdown">
        <select name="SongToAdd">
            <option value="">Select a song</option>
            @foreach(var song in AllSongs)
            {
                <option value="@song.Id">@song.Name</option>
            }
        </select>
        <input type="hidden" name="PlaylistId" value="@PlaylistId" />
        <input type="submit" value="Add to Playlist" />
    </div>
</form>

<div class="text-center">
    <h1>Playlist</h1>
    <button id="CreatePlaylist" onclick="CreatePlaylist()">Create Playlist</button>
    <button id="RenamePlaylist" onclick="RenamePlaylist()">Rename Playlist</button>
    <button id="DeletePlaylist" onclick="location.href='/Home/Playlist?DeletePlaylist=true&PlaylistId=@PlaylistId'">Delete Playlist</button>
    <p>@PlaylistDuration</p>
    @foreach (var song in songs)
    {
        <div class="song">
            <p1>
                @song.Name
            </p1>
            <button id="DeleteSong" onclick="DeleteSong('@song.Id', '@user')">Delete</button>
        </div>
    }
</div>